* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  padding: 15px;
}
.App > h1 {
  color: rgb(109, 103, 103);
}
.containerStudents {
  display: flex;
  /* flex-direction: column; */
  gap: 10px;
  padding: 10px;
  flex-wrap: wrap;
}
.Card {
  border: 1px solid rgb(219, 205, 205);
  width: 200px;
  border-radius: 10px;
  height: 150px;
  padding: 20px;
  line-height: 30px;
}
